In [2]:
from pandas import DataFrame, Series
import pandas as pd
import json

In [3]:
#Headers for user information
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

#Interestingly you have to declare the engine otherwise it defaults to a c engine that doesn't support regex separators
users = pd.read_table('datasets/users.dat', sep='::', engine = 'python', header = None, names = unames)

#Test print
#users[:5]

#Headers for rating information
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('datasets/ratings.dat', sep='::', engine = 'python', header = None, names = rnames)

#Test print
#ratings[:5]

#Headers for movie information
mnames = ['movie_id', 'title', 'genre']
movies = pd.read_table('datasets/movies.dat', sep='::', engine = 'python', header = None, names = mnames)

#Test print
#movies[:5]

In [ ]:
#Suppose you wanted to analyze movie ratings by sex and age, computing the mean or some such analysis
#Use merge function to merge separate tables, pandas infers which columsn to use as a merge based on column name overlap

#Merge function takes a data frame to be merged, in this case we do a merge on a merge to get the desired result
#Merge the merge of ratings and users on movies
rating_user_merge = pd.merge(pd.merge(ratings, users), movies)

#Similar to SQL syntax, the merge function infers columns joined by user id
rating_user_merge[:5]

In [7]:
#To get mean movie ratings for film grouped by gender, using the pivot_table method
mean_rating_by_gender = rating_user_merge.pivot_table('rating', index = 'title', columns = 'gender', aggfunc = 'mean')

#Test print
mean_rating_by_gender[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024