In [2]:
from pandas import DataFrame, Series
import pandas as pd
import json

In [15]:
#Headers for user information
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

#Interestingly you have to declare the engine otherwise it defaults to a c engine that doesn't support regex separators
users = pd.read_table('datasets/users.dat', sep='::', engine = 'python', header = None, names = unames)

#Test print
#users[:5]

#Headers for rating information
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('datasets/ratings.dat', sep='::', engine = 'python', header = None, names = rnames)

#Test print
#ratings[:5]

#Headers for movie information
mnames = ['movie_id', 'title', 'genre']
movies = pd.read_table('datasets/movies.dat', sep='::', engine = 'python', header = None, names = mnames)

#Test print
#movies[:5]

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy